<div class="min-h-screen  bg-black flex items-center flex-col">

<div class="mt-24 w-full flex justify-center   items-center flex-col">
<span class="text-white   text-4xl my-5 item ">{{'Projects'|translate}}</span>
<p class="w-9/12 text-white text-center text-2xl item ">
  {{
  'We use high quality equipment and offer support to help you choose the right system for your needs. We also offer
  maintenance and repair services for systems installed by us .'|translate}} </p>



      <app-worksPhotos class="w-full mt-8 mb-10"></app-worksPhotos>
<app-test2 class="w-full justify-center flex mt-5 mb-5"></app-test2>





</div>



  </div>
